# Jekyll build output
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler
.bundle/
vendor/bundle/

# Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Windows installer files
*.cab
*.msi
*.msm
*.msp
