---
layout: home
title: Web design and development using the latest internet technologies.
---
<div class="fp-blog-section py-gap">
    <!-- Title Page -->
    <div id="blog" class="row">
      <div class="col-12">
        <div class="title-page">
          <h2 class="title">My Blog</h2>
        </div>
      </div>
    </div>
    <!-- End Title  -->

    <div class="row mx-5">
        {% for post in site.posts %}
          {% if post.content contains "<!-- more -->" %}
            <div class="col-sm-1 widget-bottom line-fx col-4 mx-2">
              <a href="{{ post.url }}" class="blog-link"> <!-- Added class="blog-link" -->
                <div class="bg-fx">
                    <h4>{{ post.title }}</h4>
                    {{ post.content | split:"<!-- more -->" | first }}
                </div><!-- End Dev-fx -->
              </a>
            </div><!-- End Postcard -->
          {% else %}
            <div class="widget-bottom">
              <div class="bg-fx">
                <div class="inner">
                  <h4>{{ post.title }}</h4>
                  {{ post.content | strip_html | truncatewords:200 }}
                </div>
              </div><!-- End Bg-fx -->
            </div><!-- End Postcard -->
          {% endif %}
        {% endfor %}
    </div><!-- End Row -->
</div><!-- End Blog Section --> 