<!-- Header -->
<header>
    <div class="sticky-nav">
      <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        
        <div id="logo">
          <a id="goUp" href="#home-slider" title="Brushed | Responsive One Page Template">Brushed Template</a>
        </div>
        
        <nav id="menu">
          <ul id="menu-nav">
              <li class="current"><a href="#home-slider">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#latest">Latest Dev</a></li>
                <li><a href="#blog">Blog</a></li>
        <li><a href="shortcodes.html" class="external">Design Blog</a></li>
            </ul>
        </nav>
        
    </div>
</header>
<!-- End Header -->