//Color Value

$white: #fff;
$c0: #26292E;
$c1: #2F3238;
$c2: lighten($c1, 20%);
$c3: lighten($c1, 45%);
$c4: lighten($c1, 70%);
$c5: #5ede76;

// Color assignments

$colorlink:$c5;
$color-fonts: $white;
$color-fonts2: $c2;
$color-code: $c0;
$colorBG: $c0;
$colorBG2: $c1;
$color-border: $c2;
$color-border2: $c1;
$color-border3: $c0;
$color-bttn: $c1;