<div class="md-modal md-effect-18" id="modal-1">
	<div class="md-content">
		<h3>Paper</h3>
		<div>
			<p>Paper is a WordPress Theme built using <a href="http://underscores.me/"> Underscore</a> framework.</p>
			<ul>
				<li><strong>Responsive:</strong> You can rest easy knowing that your website will always be running smoothly across browsers.</li>
				<li><strong>Browser Compatibility:</strong> It’s important that your website performs well for everyone who visits it.</li>
				<li><strong>Complete Localization:</strong> which means you wont have to spend hours editing PHP files.</li>
			</ul><button class="button button-mini"><a href="https://github.com/agustealo/paper/">Download</a></button>
			<button class="md-close button button-mini">Close me!</button>
		</div>
	</div>
</div>

<div class="md-modal md-effect-18" id="modal-2">
	<div class="md-content">
		<h3>Modal Dialog</h3>
		<div>
			<p>This is a modal window. You can do the following things with it:</p>
			<ul>
				<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
				<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
				<li><strong>Close:</strong> click on the button below to close the modal.</li>
			</ul>
			<button class="md-close button button-mini">Close me!</button>
		</div>
	</div>
</div>

<div class="md-modal md-effect-18" id="modal-3">
	<div class="md-content">
		<h3>Modal Dialog</h3>
		<div>
			<p>This is a modal window. You can do the following things with it:</p>
			<ul>
				<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
				<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
				<li><strong>Close:</strong> click on the button below to close the modal.</li>
			</ul>
			<button class="md-close button button-mini">Close me!</button>
		</div>
	</div>
</div>

<div class="md-modal md-effect-18" id="modal-4">
	<div class="md-content">
		<h3>Modal Dialog</h3>
		<div>
			<p>This is a modal window. You can do the following things with it:</p>
			<ul>
				<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
				<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
				<li><strong>Close:</strong> click on the button below to close the modal.</li>
			</ul>
			<button class="md-close button button-mini">Close me!</button>
		</div>
	</div>
</div>

<div class="md-modal md-effect-18" id="modal-5">
	<div class="md-content">
		<h3>Modal Dialog</h3>
		<div>
			<p>This is a modal window. You can do the following things with it:</p>
			<ul>
				<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
				<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
				<li><strong>Close:</strong> click on the button below to close the modal.</li>
			</ul>
			<button class="md-close button button-mini">Close me!</button>
		</div>
	</div>
</div>

<div class="md-modal md-effect-18" id="modal-6">
	<div class="md-content">
		<h3>Modal Dialog</h3>
		<div>
			<p>This is a modal window. You can do the following things with it:</p>
			<ul>
				<li><strong>Read:</strong> modal windows will probably tell you something important so don't forget to read what they say.</li>
				<li><strong>Look:</strong> a modal window enjoys a certain kind of attention; just look at it and appreciate its presence.</li>
				<li><strong>Close:</strong> click on the button below to close the modal.</li>
			</ul>
			<button class="md-close button button-mini">Close me!</button>
		</div>
	</div>
</div>