<div class="page">
  <div id="about" class="container-fp">
  {% include home/widget.html %}
      <!-- Title Page -->
        <div id="latest" class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Latest Dev's</h2>
                    <h3 class="title-description">Interested In My Graphic Design Projects? Visit My Design Blog <a href="#"> AGUSTEALO.com</a>.</h3>
                </div>
            </div>
        </div>
        <!-- End Title Page -->
        
        <!-- Portfolio Projects -->
        <div class="row">
          <div class="span3">
              <!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                      <li class="type-work">Type of Work</li>
                        <li><a href="#filter" data-option-value="*" class="selected">All Projects</a></li>
                        <li><a href="#filter" data-option-value=".design">Design</a></li>
                        <li><a href="#filter" data-option-value=".photography">Photography</a></li>
                        <li><a href="#filter" data-option-value=".video">Video</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>
            
            <div class="span9">
              <div class="row">
                  <section id="projects">
                      <ul id="thumbs">
                        
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                          <div class="box md-trigger md-setperspective" data-modal="modal-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
              <line class="left" x1="0" y1="207" x2="0" y2="-920"/>
              <line class="bottom" x1="248" y1="207" x2="-600" y2="207"/>
              <line class="right" x1="248" y1="0" x2="248" y2="1380"/>
            </svg>
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <img src="images/work/thumbs/image-01.png" alt="Paper">
                            </div></li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                          <div class="box md-trigger md-setperspective" data-modal="modal-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
              <line class="left" x1="0" y1="207" x2="0" y2="-920"/>
              <line class="bottom" x1="248" y1="207" x2="-600" y2="207"/>
              <line class="right" x1="248" y1="0" x2="248" y2="1380"/>
            </svg>
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <img src="images/work/thumbs/image-02.png" alt="Lorem">
                            </div></li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                          <div class="box md-trigger md-setperspective" data-modal="modal-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
              <line class="left" x1="0" y1="207" x2="0" y2="-920"/>
              <line class="bottom" x1="248" y1="207" x2="-600" y2="207"/>
              <line class="right" x1="248" y1="0" x2="248" y2="1380"/>
            </svg>
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <img src="images/work/thumbs/image-03.png" alt="Lorem">
                            </div></li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 video">
                          <div class="box md-trigger md-setperspective" data-modal="modal-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
              <line class="left" x1="0" y1="207" x2="0" y2="-920"/>
              <line class="bottom" x1="248" y1="207" x2="-600" y2="207"/>
              <line class="right" x1="248" y1="0" x2="248" y2="1380"/>
            </svg>
                              <!-- Fancybox Media - Gallery Enabled - Title - Link to Video -->
                                <img src="images/work/thumbs/image-04.png" alt="Video">
                            </div></li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 photography">
                          <div class="box md-trigger md-setperspective" data-modal="modal-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
              <line class="left" x1="0" y1="207" x2="0" y2="-920"/>
              <line class="bottom" x1="248" y1="207" x2="-600" y2="207"/>
              <line class="right" x1="248" y1="0" x2="248" y2="1380"/>
            </svg>
                              <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <img src="images/work/thumbs/image-05.png" alt="consectetur">
                            </div></li>
                          <!-- End Item Project -->
                            
              <!-- Item Project and Filter Name -->
                          <li class="item-thumbs span3 design">
                          <div class="box md-trigger md-setperspective" data-modal="modal-6">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
              <line class="top" x1="0" y1="0" x2="900" y2="0"/>
              <line class="left" x1="0" y1="207" x2="0" y2="-920"/>
              <line class="bottom" x1="248" y1="207" x2="-600" y2="207"/>
              <line class="right" x1="248" y1="0" x2="248" y2="1380"/>
            </svg><!-- Fancybox - Gallery Enabled - Title - Full Image -->
                  <img src="images/work/thumbs/image-06.png" alt="amet">
                            </div></li>
                          <!-- End Item Project -->
                        </ul>
                    </section>
                    
              </div><!-- End Row -->
            </div><!-- End Span9 -->
        </div><!-- End Portfolio Projects -->
    </div>
</div>