
  <div class="container-wider mv-5">
    {% include home/widget.html %}
  </div>
  <div class="container-fluid py-gap">
    
    <!-- Title Page -->
    <div class="row">
      <div class="col-12">
        <div class="title-page">
          <h2 class="title">Featured Dev's</h2>
          <h3 class="title-description">Interested In My Graphic Design Projects? Visit My Design Blog <a href="#">AGUSTEALO.com</a>.</h3>
        </div>
      </div>
    </div>

    <!-- Menu and Portfolio Grid -->
    <div class="container">
      <div class="row">
      <!-- Filter Menu -->
      <div class="menu-area">
        <nav id="options" class="work-nav">
          <ul id="filters" class="project-filter">
            <li class="type-work">Type of Work</li>
            <li><a href="#filter" data-filter="*" class="selected">All Projects</a></li>
            <li><a href="#filter" data-filter=".wordpress">Wordpress</a></li>
            <li><a href="#filter" data-filter=".snippets">Code Snippets</a></li>
            <li><a href="#filter" data-filter=".video">Video</a></li>
          </ul>
        </nav>
      </div>

      <!-- Portfolio Grid -->
      <div class="col-9 col-md-12">
        <ul class="project-contents row">
          <!-- Item Project and Filter Name -->
          <li class="project line-fx portfolio-item item-thumbs work-thumb wordpress col-4 col-md-12 col-lg-6">
            <div class="bg-fx" data-modal="modal-1">
              <img src="images/work/thumbs/image-01.png" alt="wordpress">
            </div>
          </li>
          <!-- End Item Project -->

          <!-- Item Project and Filter Name -->
          <li class="project line-fx portfolio-item item-thumbs work-thumb wordpress col-4 col-md-12 col-lg-6">
            <div class="bg-fx" data-modal="modal-2">
              <img src="images/work/thumbs/image-02.png" alt="wordpress">
            </div>
          </li>
          <!-- End Item Project -->

          <!-- Item Project and Filter Name -->
          <li class="project line-fx portfolio-item item-thumbs work-thumb wordpress col-4 col-md-12 col-lg-6">
            <div class="bg-fx" data-modal="modal-3">
              <img src="images/work/thumbs/image-03.png" alt="wordpress">
            </div>
          </li>
          <!-- End Item Project -->

          <!-- Item Project and Filter Name -->
          <li class="project line-fx portfolio-item item-thumbs work-thumb video col-4 col-md-12 col-lg-6">
            <div class="bg-fx" data-modal="modal-4">
              <img src="images/work/thumbs/image-04.png" alt="Video">
            </div>
          </li>
          <!-- End Item Project -->

          <!-- Item Project and Filter Name -->
          <li class="project line-fx portfolio-item item-thumbs work-thumb snippets col-4 col-md-12 col-lg-6">
            <div class="bg-fx" data-modal="modal-5">
              <img src="images/work/thumbs/image-05.png" alt="snippets">
            </div>
          </li>
          <!-- End Item Project -->

          <!-- Item Project and Filter Name -->
          <li class="project line-fx portfolio-item item-thumbs work-thumb wordpress col-4 col-md-12 col-lg-6">
            <div class="bg-fx" data-modal="modal-6">
              <img src="images/work/thumbs/image-06.png" alt="wordpress">
            </div>
          </li>
          <!-- End Item Project -->
        </ul>
      </div>
    </div>
    </div>
  </div>