<div class="widget">
	<div class="wrapper">
	  <div class="row">
		<div class="col-md-3">
		  <div class="profile-cv">
			<div class="profile-top">
			  <div class="profile-img">
				<img src="images/profile.jpg" alt="agustealo johnson">
			  </div>
			  <h2>AGUSTEALO<br />JOHNSON</h2>
			  <p>"Leprechauns aren't real but the gold they leave behind are. Find your dream at the end of that rainbow and make it reality."<br />
			  Web site: <a href="http:www.agustealo.com">www.agustealo.com</a>
			  </p>
			</div>
			<div class="profile-bttm">
			  <div class="social">
				<ul class="social-icons">
				  <li><a href="#"><i class="font-icon-social-twitter"></i></a></li>
				  <li><a href="#"><i class="font-icon-social-linkedin"></i></a></li>
				  <li><a href="#"><i class="font-icon-social-google-plus"></i></a></li>
				  <li><a href="#"><i class="font-icon-social-vimeo"></i></a></li>
				</ul>
			  </div>
			</div>
		  </div>
		</div>
  
		<div class="col-md-9">
		  <div class="web-container">
			<div class="web-intro">
			  <h1>Front End Developer | Designer</h1>
			  <p>I'm a seasoned digital designer and have transitioned into programming and development. I try to introduce the same creativity and functionality I acquired from my design background and apply the same discipline in my development.</p>
			  <p>When designing or developing, I include the latest in what’s trending in design, technology, and web standards. Ensuring Speed, Flexibility, Expandability, Compatibility, and Compliance with CSS/HTML, Mobile Websites, also CMS & E-Commerce Integration. Offering a wide range of powerful multi-platform mobile solutions.</p>
			  <p><i>-I design websites with usability and communication in mind.</i></p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>